<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>我的音乐-添加页</title>
    <link rel="stylesheet" type="text/css" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">     
</head>
<body>
<div class="container">
    <div class="page-header">
        <h1>我的音乐网站<small><%=title%></small> </h1>
        <h3 id="msg"><%=msg%></h3>
        <a href="/addPage" class="addMusic btn btn-success">继续添加音乐</a>
        <a href="/" class="addMusic btn btn-success">返回首页</a>
    </div>
    
</div>



</body>
</html>